<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<persistence xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.2" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_2.xsd">
    <persistence-unit name="extended_table_demo">
        <non-jta-data-source>extended_table_demo</non-jta-data-source>
        <class>com.axonivy.market.extendedtable.demo.entities.Country</class>
        <class>com.axonivy.market.extendedtable.demo.entities.Customer</class>
        <class>com.axonivy.market.extendedtable.demo.entities.CustomerGroup</class>
        <class>com.axonivy.market.extendedtable.demo.entities.DataTableState</class>
        <properties>
            <property name="hibernate.hbm2ddl.auto" value="create-drop"/>
        </properties>
    </persistence-unit>
</persistence>
